{% extends "layout.html" %} {% block content %}

<section id="intro">
  <header>
    <a href="/">
      <img src="/img/logo.png" alt="Logo image" />
    </a>
  </header>

  <main>
    <p>
      Staying at home for long periods shouldn't be easy.
    </p>
    <p>
      We will catalog ideas,
      <strong>games, movies, books, courses, tips</strong>
      and everything necessary to make this moment more interesting.
    </p>
    <p>
      Start by clicking on see all ideas to see the registered ideas and
      contribute your idea.
    </p>
  </main>

  <section id="buttons">
    <button onclick="onOff()">+ Add Idea</button>
    <a href="ideas" class="button">See All Ideas</a>
  </section>

  <footer id="footer">
    With ♥️
    <a href="https://www.linkedin.com/in/eltonlazzarin/" target="_blank"
      >Elton Lazzarin</a
    >
  </footer>
</section>
<section id="last-ideas">
  {% include "listAll-Ideas.html" %}
</section>

{% endblock %}
